<% if logged_in? %>
<p>
  ログインユーザー：<%= current_user.name %>
  <%= current_user.id %>
  
</p>

<div class="row">
  <aside class="col-md-4">
    <%= render 'tasks/tasks_form', task: @task %>
  </aside>

  <div class="col-xs-8">
    <%= render 'tasks/tasks_desplay', tasks: @tasks %>
  </div>
</div>

<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Tasklist</h1>
      
      <%= link_to '新規アカウント登録', signup_path, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>